
@{
    ViewBag.Title = "ImageWebView";
}

<h2>ImageWeb</h2>

@model WebApplication2.Models.ImageWebModel

<p><b>Service status:</b> @Html.DisplayFor(modelItem => Model.connect)</p>
<p><b>Number of pictures:</b> @Html.DisplayFor(modelItem => Model.numOfPictures)</p>
<table class="table">
    <tr>
        <th>
           First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            ID
        </th>
    </tr>

    @foreach (var item in Model.students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
        </tr>
    }

</table>
