
@{
    ViewBag.Title = "PhotosView";
}

<h2>Photos</h2>

@model WebApplication2.Models.PhotosModel

<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container" id="tourpackages-carousel">
        <div class="row">
            @foreach (var item in Model.photos)
            {  
                <div class="col-xs-18 col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src= @item.Path alt=""  class="img-circle">
                        <div class="caption">
                            <h4>@item.Name</h4>
                            <p> @item.Year <br> @item.Month</p>
                            <p><a href="#" class="btn btn-info btn-md" onclick="location.href='@Url.Action("ViewPhotoView", "First", new {name = item.Name, year = item.Year, month = item.Month})'" role="button">view</a> <a href="#" class="btn btn-danger btn-md" onclick="location.href='@Url.Action("DeletePhotoView", "First", new {name = item.Name, year = item.Year, month = item.Month})'" role="button">delete</a></p>

                            <script>
                            function myFunction() {
                                @Html.ActionLink("Home", "Index", "First")
                               }
                            </script>
                        </div>
                    </div>
                </div>
            }
        </div><!-- End row -->
    </div><!-- End container -->
</body>
</html>

